body {
  font-family: avenir;
  box-sizing: border-box;
}
nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 16px;
}
.z {
  z-index: 2;
}
nav > ul {
  display: flex;
  margin-left: 140px;
  list-style: none;
}
nav > ul > li {
  padding: 20px;
}
.nav_button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 210px;
  height: 60px;
  border-radius: 50px;
  border-width: 0px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.section_1 {
  height: 560px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  height: 184px;
  width: 645px;
  position: relative;
  margin-bottom: 50px;
}
.image1 {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 566px;
  top: 175px;
  background-image: url(image_1.png);
}

.color_2 {
  color: #212353;
}
nav::before {
  content: "";
  background-color: #9c69e2;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  top: 35px;
  left: 10px;
}
nav::after {
  content: "";
  background-color: #f063b8;
  height: 35px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 40px;
}
a:link,
a:visited,
a:hover {
  color: #4b5d68;
  text-decoration: none;
}
a:focus,
a:active {
  color: #212353;
  text-decoration: none;
  font-weight: bold;
}
